@charset "UTF-8";

@font-face {
    font-family: 'Realheadwebbold';
    font-display: swap;
    src: url(../fontes/Real-head-web-bold.ttf);
}

:root {
    --cor0: #F32F2F;
    --cor1: #ffffff;
    --cor2: #a1a1a1;
    --cor3: #333333;
    --cor4: #2d2d2d;
    --cor5: #000;
    --cor6: #782448;
    --cor7: #E80A4D;
    --cor8: #a7a7a7;

    --fonte-padrão: 'Arial, Verdana, Helvetica, sans-serif';
    --fonte1: 'Realheadwebbold';
    --fonte2: 'XXX';
    --fonte3: 'XXX';
    --fonte4: 'XXX';
    --fonte5: 'XXX';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor7);
    border-radius: 10px;
}

body {
    max-width: 1366px;
    margin: auto;
    background-color: var(--cor5);
}

header .onm-hero .conteiner1 .divtexto1 .divimagem1 {
    width: min(138px, 80%);
    margin: 7rem 0 8rem;
}

header .onm-hero .conteiner1 .divtexto1 h1 {
    font-family: var(--fonte1);
    font-size: clamp(2.5rem, 1rem + 3vw, 3.4rem);
    font-weight: 700;
    line-height: clamp(3.2rem, 1rem + 6vw, 4.4rem);
    margin: 0 0 clamp(0.7rem, 0vw + 1.4vw, 2.2rem);
    color: var(--cor1);
}

header .onm-hero .conteiner1 .divtexto1 p {
    font-family: var(--fonte1);
    width: min(44rem, 100%);
    padding: 0 0 3rem;
    margin: 0 0 3rem;
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    color: var(--cor8);
    position: relative;
}

p.onm-hero-bold:before {
    position: absolute;
    content: '';
    width: 2.5rem;
    height: 1px;
    background: #a7a7a7;
    left: 0;
    bottom: 0;
}

header .onm-hero .conteiner1 .divtexto1 .onm-hero-live {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}


















footer {
    background-color: var(--cor7);
    color: var(--cor5);
    text-align: center;
    font-family: var(--fonte1);
    font-size: 14px;
    height: 100%;
    padding: 5px;
}

footer a {
    color: inherit;
    text-decoration: none;
}